body {
    text-align: center;
}

#search-submit {
    display: inline-block;
    margin: 1em auto 0;
}

#random-link {
    display: inline-block;
    margin-left: 1em;
}

#form-buttons {
    display: block;
}