body {
    text-align: center;
}

#search-box {
    margin-top: 3em;
    margin-bottom: 3em;
}

#search-submit {
    display: inline-block;
    margin: 1em auto 0;
}

#random-link {
    display: inline-block;
    margin-left: 2em;
}

#form-buttons {
    display: block;
}

#description {
    color: #0074d9;
    font-style: italic;
}

#logo {
    font-size: 4em;
}

#copyright {
    color: gray;
    margin-top: 6em;
    display: block;
}

@media (max-width: 700px) {
    #search-submit, #random-link {
        display: block;
    }

    #random-link {
        margin-left: 0;
        margin-top: 1em;
    }
}